<h1>Controle Academico</h1>
<p><%= link_to "Usuarios", users_path %></p>
<p><%= link_to "Disciplinas", disciplinas_path %></p>
<p><%= link_to "Professores", professors_path %></p>
<p><%= link_to "Turmas", turmas_path %></p>
<p><%= link_to "Alunos", alunos_path %></p>
<p><%= link_to "Notas", notas_path %></p>
